.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 809px;
    width: 100%;
    background-color: #00000066;
    top: 0;
    z-index: 2;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 700px;
    height: 500px;
    background-color: var(--white);
}
.table {
    text-align: center;
    align-items: center;
}
.thead-dark {
    padding: 20px;
    background-color: #6c7ae0;
    .col1 {
        padding: 20px;
    }
}
.col2 {
    background-color: wheat;
    padding: 10px;
}
.del-btn {
    background-color: red;
    color: white;
    padding: 10px;
    box-shadow: 2px 2px #501919;
    border-radius: 5%;
    cursor: pointer;
    &:hover {
        background-color: #501919;
    }
}
.form-input {
    margin-top: 20px;
    margin-right: 20px;
    background-color: rgb(247, 243, 239);
    display: inline-block;
    width: 300px;
    padding: 10px 0 10px 15px;
    font-family: 'Open Sans', sans;
    font-weight: 400;
    color: #19ac84;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    // text-indent: 70px; // Arbitrary.
    transition: all 0.3s ease-in-out;

    &::-webkit-input-placeholder {
        color: #a3a3a3;
        text-indent: 0;
        font-weight: 300;
    }
}
.image {
    height: 150px;
}
.description {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.btn-add {
    background-color: green;
    color: white;
    padding: 10px;
    box-shadow: 2px 2px #0c3016;
    border-radius: 5%;
    cursor: pointer;
    &:hover {
        background-color: #40f59a;
        color: cadetblue;
    }
}
.btn-edit {
    background-color: green;
    color: white;
    padding: 10px;
    box-shadow: 2px 2px #0c3016;
    border-radius: 5%;
    cursor: pointer;
    &:hover {
        background-color: #40f59a;
        color: cadetblue;
    }
}
.pagination {
    display: flex;
    align-content: stretch;
    justify-content: center;
    border-color: currentColor;
}
.btn-pagination {
    color: #e69090;
    border-color: currentColor;
}
.form-edit {
    display: flex;
    align-items: baseline;
}
.name {
    width: 100px;
    display: flex;
    align-items: center;
}
input {
    width: 800px;
}
